*.o
.deps
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/data/Makefile.in
/depcomp
/docs/Makefile.in
/docs/reference/Makefile.in
/gtk-doc.make
/help/Makefile.in
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4/gtk-doc.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/mkinstalldirs
/omf.make
/pixmaps/Makefile.in
/plugins/Makefile.in
/plugins/docinfo/Makefile.in
/plugins/externaltools/Makefile.in
/plugins/externaltools/data/Makefile.in
/plugins/externaltools/scripts/Makefile.in
/plugins/externaltools/tools/Makefile.in
/plugins/luaconsole/Makefile.in
/plugins/luaconsole/luaconsole/Makefile.in
/plugins/lualoader/Makefile.in
/plugins/modelines/Makefile.in
/plugins/pythonconsole/Makefile.in
/plugins/pythonconsole/pythonconsole/Makefile.in
/plugins/snippets/Makefile.in
/plugins/snippets/data/Makefile.in
/plugins/snippets/data/lang/Makefile.in
/plugins/sort/Makefile.in
/plugins/sourcecodebrowser/Makefile.in
/plugins/sourcecodebrowser/icons/Makefile.in
/plugins/spell/Makefile.in
/plugins/taglist/Makefile.in
/plugins/terminal/Makefile.in
/plugins/time/Makefile.in
/plugins/trailsave/Makefile.in
/pluma/Makefile.in
/pluma/dialogs/Makefile.in
/pluma/mate-submodules/Makefile.in
/pluma/mate-submodules/libegg/Makefile.in
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/pluma.pot
/po/stamp-it
/po/stamp-po
/py-compile
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
/xmldocs.make
/tests/
/m4/
